<div class="wrapper">
	<h1>{{gridView.title}}</h1>
	<div class="innerWrapper">
		<ul class="flex cards">
			<li><h4>mk <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber  <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control  <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix  <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix  <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip  <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>mk1  <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base1  <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>mk1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station1 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>mk <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station2 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>mk <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip3 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station3 <a  ng-click="sort( )" ng-href=""></a></h4></li>

			<li><h4>mk <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip4 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station4 <a  ng-click="sort( )" ng-href=""></a></h4></li>

			<li><h4>mk <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip5 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station5 <a  ng-click="sort( )" ng-href=""></a></h4></li>

			<li><h4>mk <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip6 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station6 <a  ng-click="sort( )" ng-href=""></a></h4></li>

			<li><h4>mk <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip7 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station7 <a  ng-click="sort( )" ng-href=""></a></h4></li>

			<li><h4>mk <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip8 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station8 <a  ng-click="sort( )" ng-href=""></a></h4></li>

			<li><h4>mk <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>controlNumber9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>control9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>prefix9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>base9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>suffix9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>sp9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>trimin9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>offline9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>engine9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>zip9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
			<li><h4>station9 <a  ng-click="sort( )" ng-href=""></a></h4></li>
		</ul>
		<ul class="flex cards" ng-repeat=" data in gridView.gridData track by $index" >
			<li><input type="number" name="" id="" ng-model= data.mk ng-blur="gridView.resort( data  )"> </li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber > </li>
			<li><input type="text" name="" id="" ng-model= data.control >  </li>
			<li><input type="text" name="" id="" ng-model= data.prefix > </li>
			<li><input type="text" name="" id="" ng-model= data.base>  </li>
			<li><input type="text" name="" id="" ng-model= data.suffix > </li>
			<li><input type="text" name="" id="" ng-model= data.sp>  </li>
			<li><input type="text" name="" id="" ng-model= data.trimin>  </li>
			<li><input type="text" name="" id="" ng-model= data.offline>  </li>
			<li><input type="text" name="" id="" ng-model= data.engine>  </li>
			<li><input type="text" name="" id="" ng-model= data.zip >  </li>
			<li><input type="text" name="" id="" ng-model= data.station>  </li>
			<li><input type="text" name="" id="" ng-model= data.mk1 > </li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber1>  </li>
			<li><input type="text" name="" id="" ng-model= data.control1>  </li>
			<li><input type="text" name="" id="" ng-model= data.prefix1>  </li>
			<li><input type="text" name="" id="" ng-model= data.base1 > </li>
			<li><input type="text" name="" id="" ng-model= data.suffix1>  </li>
			<li><input type="text" name="" id="" ng-model= data.sp1>  </li>
			<li><input type="text" name="" id="" ng-model= data.trimin1>  </li>
			<li><input type="text" name="" id="" ng-model= data.offline1>  </li>
			<li><input type="text" name="" id="" ng-model= data.engine1>  </li>
			<li><input type="text" name="" id="" ng-model= data.zip1>  </li>
			<li><input type="text" name="" id="" ng-model= data.station1>  </li>
			<li><input type="text" name="" id="" ng-model= data.mk1> </li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber1>  </li>
			<li><input type="text" name="" id="" ng-model= data.control1>  </li>
			<li><input type="text" name="" id="" ng-model= data.prefix1>  </li>
			<li><input type="text" name="" id="" ng-model= data.base1>  </li>
			<li><input type="text" name="" id="" ng-model= data.suffix1 ></li>
			<li><input type="text" name="" id="" ng-model= data.sp1 ></li>
			<li><input type="text" name="" id="" ng-model= data.trimin1 ></li>
			<li><input type="text" name="" id="" ng-model= data.offline1 ></li>
			<li><input type="text" name="" id="" ng-model= data.engine1 ></li>
			<li><input type="text" name="" id="" ng-model= data.zip1 ></li>
			<li><input type="text" name="" id="" ng-model= data.station1 ></li>
			<li><input type="text" name="" id="" ng-model= data.mk2></li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber2 ></li>
			<li><input type="text" name="" id="" ng-model= data.control2 ></li>
			<li><input type="text" name="" id="" ng-model= data.prefix2 ></li>
			<li><input type="text" name="" id="" ng-model= data.base2 ></li>
			<li><input type="text" name="" id="" ng-model= data.suffix2 ></li>
			<li><input type="text" name="" id="" ng-model= data.sp2 ></li>
			<li><input type="text" name="" id="" ng-model= data.trimin2 ></li>
			<li><input type="text" name="" id="" ng-model= data.offline2 ></li>
			<li><input type="text" name="" id="" ng-model= data.engine2 ></li>
			<li><input type="text" name="" id="" ng-model= data.zip2 ></li>
			<li><input type="text" name="" id="" ng-model= data.station2 ></li>
			<li><input type="text" name="" id="" ng-model= data.mk3></li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber3 ></li>
			<li><input type="text" name="" id="" ng-model= data.control3 ></li>
			<li><input type="text" name="" id="" ng-model= data.prefix3 ></li>
			<li><input type="text" name="" id="" ng-model= data.base3 ></li>
			<li><input type="text" name="" id="" ng-model= data.suffix3 ></li>
			<li><input type="text" name="" id="" ng-model= data.sp3 ></li>
			<li><input type="text" name="" id="" ng-model= data.trimin3 ></li>
			<li><input type="text" name="" id="" ng-model= data.offline3 ></li>
			<li><input type="text" name="" id="" ng-model= data.engine3 ></li>
			<li><input type="text" name="" id="" ng-model= data.zip3 ></li>
			<li><input type="text" name="" id="" ng-model= data.station3 ></li>

			<li><input type="text" name="" id="" ng-model= data.mk4></li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber4 ></li>
			<li><input type="text" name="" id="" ng-model= data.control4 ></li>
			<li><input type="text" name="" id="" ng-model= data.prefix4 ></li>
			<li><input type="text" name="" id="" ng-model= data.base4 ></li>
			<li><input type="text" name="" id="" ng-model= data.suffix4 ></li>
			<li><input type="text" name="" id="" ng-model= data.sp4 ></li>
			<li><input type="text" name="" id="" ng-model= data.trimin4 ></li>
			<li><input type="text" name="" id="" ng-model= data.offline4 ></li>
			<li><input type="text" name="" id="" ng-model= data.engine4 ></li>
			<li><input type="text" name="" id="" ng-model= data.zip4 ></li>
			<li><input type="text" name="" id="" ng-model= data.station4 ></li>

			<li><input type="text" name="" id="" ng-model= data.mk5></li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber5 ></li>
			<li><input type="text" name="" id="" ng-model= data.control5 ></li>
			<li><input type="text" name="" id="" ng-model= data.prefix5 ></li>
			<li><input type="text" name="" id="" ng-model= data.base5 ></li>
			<li><input type="text" name="" id="" ng-model= data.suffix5 ></li>
			<li><input type="text" name="" id="" ng-model= data.sp5 ></li>
			<li><input type="text" name="" id="" ng-model= data.trimin5 ></li>
			<li><input type="text" name="" id="" ng-model= data.offline5 ></li>
			<li><input type="text" name="" id="" ng-model= data.engine5 ></li>
			<li><input type="text" name="" id="" ng-model= data.zip5 ></li>
			<li><input type="text" name="" id="" ng-model= data.station5 ></li>

			<li><input type="text" name="" id="" ng-model= data.mk6></li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber6 ></li>
			<li><input type="text" name="" id="" ng-model= data.control6 ></li>
			<li><input type="text" name="" id="" ng-model= data.prefix6 ></li>
			<li><input type="text" name="" id="" ng-model= data.base6 ></li>
			<li><input type="text" name="" id="" ng-model= data.suffix6 ></li>
			<li><input type="text" name="" id="" ng-model= data.sp6 ></li>
			<li><input type="text" name="" id="" ng-model= data.trimin6 ></li>
			<li><input type="text" name="" id="" ng-model= data.offline6 ></li>
			<li><input type="text" name="" id="" ng-model= data.engine6 ></li>
			<li><input type="text" name="" id="" ng-model= data.zip6 ></li>
			<li><input type="text" name="" id="" ng-model= data.station6 ></li>

			<li><input type="text" name="" id="" ng-model= data.mk7></li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber7 ></li>
			<li><input type="text" name="" id="" ng-model= data.control7 ></li>
			<li><input type="text" name="" id="" ng-model= data.prefix7 ></li>
			<li><input type="text" name="" id="" ng-model= data.base7 ></li>
			<li><input type="text" name="" id="" ng-model= data.suffix7 ></li>
			<li><input type="text" name="" id="" ng-model= data.sp7 ></li>
			<li><input type="text" name="" id="" ng-model= data.trimin7 ></li>
			<li><input type="text" name="" id="" ng-model= data.offline7 ></li>
			<li><input type="text" name="" id="" ng-model= data.engine7 ></li>
			<li><input type="text" name="" id="" ng-model= data.zip7 ></li>
			<li><input type="text" name="" id="" ng-model= data.station7 ></li>

			<li><input type="text" name="" id="" ng-model= data.mk8></li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber8 ></li>
			<li><input type="text" name="" id="" ng-model= data.control8 ></li>
			<li><input type="text" name="" id="" ng-model= data.prefix8 ></li>
			<li><input type="text" name="" id="" ng-model= data.base8 ></li>
			<li><input type="text" name="" id="" ng-model= data.suffix8 ></li>
			<li><input type="text" name="" id="" ng-model= data.sp8 ></li>
			<li><input type="text" name="" id="" ng-model= data.trimin8 ></li>
			<li><input type="text" name="" id="" ng-model= data.offline8 ></li>
			<li><input type="text" name="" id="" ng-model= data.engine8 ></li>
			<li><input type="text" name="" id="" ng-model= data.zip8 ></li>
			<li><input type="text" name="" id="" ng-model= data.station8 ></li>

			<li><input type="text" name="" id="" ng-model= data.mk9></li>
			<li><input type="text" name="" id="" ng-model= data.controlNumber9 ></li>
			<li><input type="text" name="" id="" ng-model= data.control9 ></li>
			<li><input type="text" name="" id="" ng-model= data.prefix9 ></li>
			<li><input type="text" name="" id="" ng-model= data.base9 ></li>
			<li><input type="text" name="" id="" ng-model= data.suffix9 ></li>
			<li><input type="text" name="" id="" ng-model= data.sp9 ></li>
			<li><input type="text" name="" id="" ng-model= data.trimin9 ></li>
			<li><input type="text" name="" id="" ng-model= data.offline9 ></li>
			<li><input type="text" name="" id="" ng-model= data.engine9 ></li>
			<li><input type="text" name="" id="" ng-model= data.zip9 ></li>
			<li><input type="text" name="" id="" ng-model= data.station9 ></li>
		</ul>			
	</div>
</div>