.wrapper{
	width: 90%;
	margin: 0 auto;
}

.innerWrapper{
	border: 2px solid brown;
	overflow-x: scroll;
}

ul.cards{
	list-style: none;
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	padding: 5px;
	margin: 0;
}

.cards li {
	border: 2px solid  #490A3D;
	border-radius:5px;
	flex: 1;
	margin: 5px;
	box-sizing: border-box;
	min-width: 200px;
	padding: 5px;
}

h4{
	font-weight: bold;
	}

h4 a{
	display: inline-block;
	width: 2rem;
	line-height: 1;
	background: url("../images/sortIcon.png")  no-repeat 0 0;
	background-size: contain;
	padding-top: 2rem;
	cursor: pointer;
	position: relative;
	top: 0.5rem;
}
/* slide page */

.slideWrapper{
	/*border: 1px solid gray;*/
}

.rowContent{
	display: flex;
}

.rowContent ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	flex-direction: column;
	width: 10%;
	overflow-x: hidden;
}

.rowContent ul li {
	border: 1px solid gray;
	overflow-x: hidden;
}

.slideWrapper ul.titles{
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.slideWrapper ul.titles li{
	border: 1px solid gray;
	flex:1 0 10%;
	overflow-x: hidden;
}



.rowContent ul li  input{
	width: 100%;
}

.pageNavigator{
	text-align: center;
}

.pageNavigator ul li {
	display: inline-block;
	margin: 1rem;
}

.pageNavigator ul li a{
	padding: 1rem;
	cursor: pointer;
	display: inline-block;
	border: 1px solid gray;
}